*.DS_Store
dict/*.aur
dict/*.hs
*.o
*.bin
*.hi
coding/dict/*k
*archive*
coding/scraper/.env/
videos/*
*.yuv
*/#*#
coding/data/old-thesaurus-list
coding/data/*
dictionary_mark_2/*
coding/scraper/venv/*
